{
	"root": true,
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"sourceType": "module",
		"project": "./tsconfig.json",
		"extraFileExtensions": [
			".vue"
		]
	},
	"extends": [
		"plugin:nuxt/recommended",
		"plugin:prettier/recommended",
		"plugin:tailwindcss/recommended"
	],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"tabWidth": 4,
				"useTabs": true
			}
		],
		"tailwindcss/no-custom-classname": "off"
	}
}