@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: 'Noto Serif Display';
    font-style: normal;
    font-weight: 600;
    src: url('./nsd-24-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../ns-23-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    src: url('../ns-23-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    src: url('../ns-23-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../ns-23-700.woff2') format('woff2');
}

* {
    font-family: "Noto Serif", sans-serif;
}